.test-tools-item {
  background-color: #66ffcc;
  border-radius: 8px;
  color: black;
  font-size: 24px;
  padding: 10px 60px;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  cursor: pointer;
}
