.test-types-item {
  background-color: #f1e7f0;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
  font-size: 16px;
  padding: 10px 60px;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  cursor: pointer;
}
